@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* styles/GradientText.module.css */
.gradient-text {
  background: linear-gradient(to right, #00aeef, #054ada, #203d7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-wrapper {
  /* padding: 50px 0px; */
  width: 100%;
  text-align: center;
  background-color: black;
}

@keyframes scrollLeft {
  to {
    left: -250px;
  }
}

.wrapper {
  list-style: none;
  width: 90%;
  margin: auto;
  position: relative;
  height: 130px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.card {
  border-color: #ffc009;
  border-radius: 25px;
  /* padding: 20px; */
  /* width: 250px; */
  text-align: center;
  align-self: center;
  position: absolute;
  left: var(--left);
  animation: scrollLeft 20s linear infinite;
  animation-delay: var(--animation-delay);
}

.card h3 {
  color: #ff7510;
  font-size: var(--font-size);
  font-weight: 500;
}

.shadow-glow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -10px;
  border-radius: 35px;
  background: linear-gradient(
    135deg,
    rgba(0, 174, 239, 0.6),
    rgba(5, 74, 218, 0.4),
    rgba(2, 37, 112, 0.2)
  );
  filter: blur(30px);
  opacity: 0.75;
}
